.daily_card {
  background-color: var(--color-card-bg);
  display: grid;
  border-radius: var(--border-radius);
  overflow: hidden;
  min-height: 420px;
}

.daily_img {
  width: 70%;
  max-width: 260px;
  height: auto;
  margin: 2rem auto;
  display: block;
}

.daily_text {
  display: grid;
  align-content: start;
  gap: 1rem;
  padding: 1.5rem;
}

.daily_text h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: 0.8rem 1rem;
  margin: 0;
}

.daily_text p {
  margin: 0;
  line-height: 1.5;
  max-width: 36ch;
}

.news_card {
  background-color: var(--color-card-bg);
  display: grid;
  align-content: start;
  gap: 0.8rem;
  padding: 1.2rem;
  border-radius: var(--border-radius);
  min-height: 220px;
}

.news_card:nth-child(2n) {
  background-color: var(--color-card-bg-inverted);
  color: var(--color-text-inverted);
}

.news_card h3 {
  margin: 0;
  line-height: 1.2;
}

.news_card p {
  margin: 0;
  line-height: 1.5;
}

.news_card:first-child {
  min-height: 260px;
}

.news_card:first-child:before {
  content: "BREAKING NEWS";
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  font-weight: 600;
  text-align: center;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.4rem;
}

.cta_btn {
  display: inline-block;
  padding: 0.7rem 1.1rem;
  background-color: var(--color-cta-card-bg);
  color: var(--color-text-inverted);
  text-decoration: none;
  border-radius: var(--border-radius);
  width: max-content;
}

/* forside*/
.stack-section {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

.stack-card {
  display: grid;
  gap: 1rem;
  background-color: var(--color-card-bg);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.stack-card img {
  width: 100%;
  max-width: 220px;
  height: auto;
}

.stack-text {
  display: grid;
  gap: 0.8rem;
}

.stack-text h3 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: 0.5rem 0.8rem;
}

.stack-text p {
  line-height: 1.5;
}
@media (width > 700px) {
  .stack-card {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}

/* ARTIKLER*/

.article-section {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

.article-card {
  background-color: var(--color-card-bg-inverted);
  color: var(--color-text-inverted);
  padding: 1rem;
  border-radius: var(--border-radius);
}
