:root {
  /* Background */
  --color-bg: #cbc7bd;
  --color-card-bg: #cbc7bd;
  --color-card-bg-inverted: #575757;

  /* Header / footer */
  --color-head-bg: #1e1e1e;

  /* Logotype */
  --color-logotype-bg: #1e1e1e;
  --color-text-logotype: #e3dfc0;
  --font-logotype-size: 1.1rem;

  /* Menu */
  --color-menu-bg: #cbc7bd;

  /* Links */
  --color-link-bg: #847f7e;
  --color-link-hover: #e34a58;
  --color-link-active: #d74c3c;
  --border-radius-links: 4px;

  /* Headlines */
  --font-h1-size: 2.2rem;
  --font-h2-size: 1.5rem;
  --font-h3-size: 1.1rem;

  --headline2-size: 1.5rem;
  --headline3-size: 1.1rem;
  --font-sub1-size: 1rem;

  /* Headline colors */
  --color-headline-bg: #575050;

  /* Text */
  --color-text: #1e1e1e;
  --color-text-inverted: #e3dfc0;

  /* Other text */
  --followup-text-size: 1rem;

  /* Margins */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 8px;

  /* Cards */
  --color-cta-card-bg: #d74c3c;
  --color-cta-card-bg-inverted: #c280c4;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif, sans-serif;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;
  --font-weight-light: 200;

  /* Infographic */
  --color-info-bg: #d8d2c7;

  /* Form */
  --color-form-bg: #cbc7bd;
  --color-form-accent: #d74c3c;
  --color-form-text: #1e1e1e;
  --color-form-placeholder: #7a7a7a;

  /* Accent */
  --color-accent: #b69c7a;

  /* Fashion */
  --color-fashion: #c280c4;
  --color-fashion-dark: #662d91;
  --color-fashion-light: #eec1db;
  --color-detail-green: #023f23;

  /* CTA */
  --color-cta: #e34a58;
}
